@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General Styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    width: 100%;
}

section, footer {
    padding: 0.5em 5em;
}

img {
    display: inline-block;
    max-width: 100%;
    border-radius: 1em;
}

.section-body {
    margin-top: 0em;
}

.work-button-container {
    display: flex;
    justify-content: center;
}

#work-button {
    /* display: inline-block; */
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: .9rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 200ms ease-in-out;
    width: 124px;
}

#work-button:hover {
    transform: scale(1.1);
}

#work-button:focus {
    background: var(--clr-light);
    color: var(--clr-dark);
}


/* Typography */

h1, h2, h3 {
    line-height: 1.1;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
    margin-top: 16px;
}

h3 {
    font-size: var(--fs-h3);
    color: var(--clr-accent);
}

.web-developer-title,
.web-Designer-title {
    font-weight: bold;
}

.section__title {
    margin-bottom: 2rem;
}

.section__title--intro {
    font-weight: var(--fs-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin-bottom: 1em;
    font-weight: var(--fw-bold);
}

.section__subtitle--intro,
.section__subtitle--about {
    display: inline-block;
    background: var(--clr-accent);
    color: var(--clr-light);
    font-family: var(--ff-secondary);
    font-size: 30px;
    padding: 7px 15px;
    margin-bottom: 0.8em;
    border-radius: 0.5em;
}

.hero-git-link {
    text-decoration: none;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 0.5em;
    text-decoration: none;
}

/* header - navbar */

/* #navbarBasicExample {
    height: 300px;
} */


.navbar {
    padding: 0;
    width: 100%;
}

.navbar-link {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
}
.mr-3:hover {
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: none;
}
.navbar-item:hover {
    text-decoration: none;
}

.navbar-menu {
    background-color: var(--clr-dark);
    /* position: fixed; */
    width: 100%;
}

/* .navbar-link,
.navbar-dropdown {
    display: flex;
} */

.navbar-link,
/* .has-dropdown, */
.navbar-item {
    display: inline-flex;
    align-items: flex-start;
}
  
/* intro section */

#home {
    margin-top: 6em;
}

.intro {
    position: relative;
    
}

.intro__img {
    box-shadow: var(--bs);
}


/* services section */

.my-services {
    display: inline-block;
    /* flex-direction: column; */
    background-color: var(--clr-dark);
    background-image: url(../img/laptop-4.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
    margin: 2em auto;
    padding-bottom: 4em;
}

.section__title--services {
    color: var(--clr-light);
    font-size: var(--fs-h1);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 0.5em;
    opacity: 0.25;
    background: currentColor;
}

.services {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 4em;
    column-gap: 1em;
}

.services-left {
    width: 100%;
}

.services-right {
    width: 100%;
}

/* .service {
    max-width: 500px;
    margin-right: 4em;
    margin: 0 auto;
} */

.service__paragraph {
    display: flex;
    justify-content: center;
    color: var(--clr-light);
    font-weight: var(--fw-reg);
    text-align: left;
    margin-bottom: 0px;
    margin-top: 1em;
}

/* about me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: 0.5em 0.5em .5em rgba(0, 0, 0, 0.781);
}

.developer-img {
    width: 100%;
}

/* My Work */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    margin-top: 2em;
}

/* .portfolio__item */

.portfolio__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.portfolio__child-1 {
    flex: 1 0 100%;  /* flex-grow, flex-shrink, flex-basis */
    margin-bottom: 0.25em;
}

.portfolio__child-2:nth-of-type(2),
.portfolio__child-3:nth-of-type(3) {
    flex-basis: 49%;
}

.portfolio__child-2:nth-of-type(2) {
    margin-right: 0.799em;
    margin-bottom: 1em;
}

.portfolio__img {
    box-shadow: var(--bs);
    border-radius: 1em;
    margin-bottom: 2em;
}

.portfolio__img:hover {
    transition: 
        transform 750ms cubic-bezier(1, 1, 2, 2),
        opacity 250ms linear ;
    transform: scale(1.05);
    opacity: 0.7;
}

/* Footer */

/* .social-media{
    display: flex;
    justify-content: center;
} */

.phone-number {
    font-weight: var(--fw-bold);
}

.social-list {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 1em;
}

.social-list__item {
    padding-right: 20px;
    padding-left: 20px;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer__link {
    text-decoration: none;
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.resume-btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.fa-github,
.fa-linkedin-square,
.fa-gitlab {
    font-size:48px;
    color: var(--clr-accent);
}

.fa-github:hover,
.fa-linkedin-square:hover,
.fa-gitlab:hover {
    transition: 
        transform 750ms cubic-bezier(1, 1, 2, 2),
        opacity 250ms linear ;
    transform: scale(1.1);
    opacity: 0.7;
}

/* Custom Properties */
/* font-family: 'Roboto', sans-serif; */
:root {
    --ff-primary: 'Roboto';
    --ff-secondary: sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #D5E9EA;
    --clr-dark: #383838;
    --clr-accent: #1473df;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* box-shadow */
    --bs:0.5em 0.5em 1em rgba(0,0,0,0.50),
         0.25em 0.25em 0.75em rgba(0,0,0,0.25),
         0.12rem 0.125em 0.25em rgba(0,0,0,0.15);
}

@media screen and (max-width: 900px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }

    .my-services {
        padding: 40px;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        /* max-width: 1000px; */
        /* margin-left: auto;
        margin-right: auto; */
    }

    .services-right {
        margin-top: 2em;
    }
}

@media screen and (min-width: 600px) {
    .intro {
        display: grid;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: 
            min-content
            max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 200px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: flex-start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(120%);
    }

    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap:2em;
    }

    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 2em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: index 2;
    }
}

@media screen and (max-width: 1078px) {
    .portfolio__child-1 {
        flex: 0 1 200%;  /* flex-grow, flex-shrink, flex-basis */
        margin-bottom: 1.5em;
    }
    
    .portfolio__child-2:nth-of-type(2),
    .portfolio__child-3:nth-of-type(3) {
        flex-basis: 200%;
        margin-bottom: 1.5em;
    }
    
    .portfolio__child-2:nth-of-type(2) {
        margin-bottom: 1.5em;
    }
}